<div class="grafico-container">
    <div class="grafico-titulo">Agendamentos no mês</div>        
    <ul class="grafico-barras">
        <li class="bar jan" title="Jan: 0.2">
            <span class="label">Jan</span>
        </li>
        <li class="bar fev" title="Fev: 0.4">
            <span class="label">Fev</span>
        </li>
        <li class="bar mar" title="Mar: 0.8">
            <span class="label">Mar</span>
        </li>
        <li class="bar abr" title="Abr: 1.2">
            <span class="label">Abr</span>
        </li>
        <li class="bar mai" title="Mai: 1.8">
            <span class="label">Mai</span>
        </li>
        <li class="bar jun" title="Jun: 0.6">
            <span class="label">Jun</span>
        </li>
        <li class="bar out" title="Out: 0.2">
            <span class="label">Out</span>
        </li>
        <li class="bar nov" title="Nov: 2.0" id="barra-destacada">
            <span class="label">Nov</span>
        </li>
        <li class="bar dez" title="dez 2.0" id="barra-destacada">
            <span class="label">Nov</span>
        </li>
    </ul>                
    <div class="eixo-y">
    </div>
</div>